/* TopContent css */

.bg-img {
  background-image: url("../../../assets/homebg.png");
  height: 632px;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  .top-sec {
    text-align: center;
    height: 80px;
    img {
      max-width: 100%;
      height: 80px;
    }
  }
  .top-text {
    text-align: center;
    .place {
      font-size: 54px;
      line-height: 64px;
      font-weight: 600;
      letter-spacing: 0.063em;
      margin-top: 200px;
      margin-bottom: 30px;
      color: #ffffff;
      text-transform: uppercase;
    }
  }
  .top-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.main-top-vanue{
  a{
    text-decoration: none !important;
    color: #161616;
  }
  .happen-wrapper {
    padding-top: 4rem;
    .happen-text {
      font-weight: 700;
      font-size: 46px;
      line-height: 60px;
      color: #1f518b;
      text-transform: uppercase;
      span {
        color: #ff9700;
      }
      .topVanueHighlight {
        background: #64e2ff !important;
        width: 42.7%;
        height: 25px;
        top: 15.5rem;
        right: 40.5%;
        position: absolute;
        z-index: -1;
      }
      @media (max-width: 1290px) {
        font-size: 35px;
        line-height: 40px;
      }
    }
    .dropdown-btn {
      border: 1px solid #ff9700 !important;
      border-radius: 14px;
      color: #ff9700;
      text-transform: uppercase;
      font-size: 14px;
      width: 190px;
      height: 36px;
    }
  }
}
.top-vanues-card-style {
  width: 92%;
  margin: 20px auto;
  cursor: pointer;
  border: transparent !important;

  // fil  ter: drop-shadow(0px 6px 24px rgba(0, 0, 0, 0.2));
  .card-custom-Body {
    display: flex;
    // justify-content: space-between;
    // align-items: center;
    .card-title {
      font-size: 1rem;
      text-transform: uppercase;
    }
    .desc {
      font-weight: 600;
      font-size: 12px;
      line-height: 16px;
      color: #909090;
    }
    .address {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      font-weight: 500;
      font-size: 12px;
      color: #515151;
    }
    .blue-side {
      background: #64e2ff;
      padding: 2.23rem 1.5rem;
      border-radius: 0 0 5px 0;
      color: #fff;
      font-size: 12px;
      text-transform: uppercase;
    }
  }
}
.top-vanues-card-style:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgba(34, 33, 33, 0.3);
}
// .slick-slide {
//   padding: 0 1rem;
// }

.ready-event-card {
  // background: linear-gradient(140.6deg, #002C6D 0%, #0082CF 100%);
  .para-sec {
    h2 {
      margin-top: 3.5rem;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      display: flex;
      align-items: center;
      letter-spacing: 0.063em;
      color: #ffffff;
    }
    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      letter-spacing: -0.017em;
      color: #ffffff;
    }
  }
  .box-1 {
    // padding: 2.9rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    p {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.017em;
      display: flex;
      justify-content: center;
    }
    button {
      margin-top: 30px;
    }
    .box-2 {
      background-color: #ffffff;
      border-radius: 4px;
      padding: 7px 7px;
      width: 67.66px;
      height: 64px;
      margin-right: 8px;
      text-align: center;
      span {
        margin-bottom: 0 !important;
        font-weight: 700;
        font-size: 21.9429px;
        line-height: 26px;
        display: flex;
        justify-content: center;
        letter-spacing: 0.063em;
        color: #1f518b;
      }
      hr {
        border-top: 2px dashed #1f518b;
        margin: 2px -7px 4px -7px !important;
      }
      .span-2 {
        font-size: 10.9714px;
        margin-top: -3px;
      }
    }
  }
  .last-row {
    position: relative;
    background-color: #fff;
    margin: 0px 0px 0px -31px;
    border-bottom-right-radius: 10px;
    margin-top: 47px;
    .user-imge {
      left: -41px;
      height: 81px;
      width: 81px;
      position: absolute;
      border: 5px solid #fff;
      border-radius: 50%;
    }
    p {
      span {
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        letter-spacing: -0.017em;
        color: #515151;
      }
    }
    .usersDiv {
      margin: 1rem 0px 0px 3rem;
      .p {
        font-size: 10px;
        margin: 0 !important;
      }
      .last-content {
        display: flex;
        align-items: center;
        .user-img-2 {
          height: 21px;
          width: 21px;
          border-radius: 50%;
          margin-right: -6px;
          border: 1px solid white;
        }
        .others {
          margin-left: 11px;
          font-size: 7px;
          margin-right: auto;
          margin-bottom: 0px;
        }
      }
    }
    .price-txt {
      color: black;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      letter-spacing: 0.063em;
    }
  }
}
.main-readyEvent {
  background: linear-gradient(140.6deg, #002c6d 0%, #0082cf 100%);
  padding: 2rem;
  position: relative;
  overflow: hidden;
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 64px;
    letter-spacing: 0.063em;
    color: #ffffff;
  }
  p {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.063em;
    color: #ffffff;
  }
  .ready-card {
    border: 1px solid wheat;
    border-bottom-right-radius: 10px;
  }
}
.date-events {
  position: relative;
  background-image: url("../../../assets/dateimg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 362px;
  width: 1148px;
  margin: auto;
  .dateHighlight {
    background: #1f518b;
    width: 10.5%;
    height: 25px;
    margin-top: 89px;
    left: 60%;
    position: absolute;
  }
  .date-text {
    text-align: center;
    padding-top: 4rem;
    h2 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0.063em;
      position: relative;
      z-index: 1;
    }
    p {
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      line-height: 1rem;
      letter-spacing: 0.208em;
      margin-bottom: 4rem;
    }
  }
}
.main-casual {
  position: relative;
  background-image: url(../../../assets/sec6.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 362px;
  width: 1148px;
  margin: auto;
  .casualHighlight {
    background: #1f518b;
    width: 9%;
    height: 25px;
    margin-top: -7px;
    left: 57.2%;
    position: absolute;
  }
  .casual-text {
    text-align: center;
    padding-top: 4rem;
    h2 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
      position: relative;
      z-index: 1;
    }
    p {
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      line-height: 1rem;
      letter-spacing: 0.208em;
      margin-bottom: 4rem;
    }
  }
}
.main-dining {
  position: relative;
  background-image: url(../../../assets/sec7.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 362px;
  width: 1148px;
  margin: auto;
  .dining-text {
    text-align: center;
    padding-top: 4rem;
    h2 {
      color: #fff;
      text-transform: uppercase;
      font-weight: 500;
    }
    p {
      font-size: 14px;
      color: #fff;
      font-weight: 600;
      line-height: 1rem;
      letter-spacing: 0.208em;
      margin-bottom: 4rem;
    }
  }
}
.go-outside {
  background-image: url(../../../assets/sec-8.png);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100% !important;
  height: 239px;
  margin: auto;
  p {
    position: absolute;
    margin-top: 167px;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    left: 13%;
    color: #ffffff;
    letter-spacing: 0.063em;
  }
}
.date-cards {
  width: 90%;
  margin: 1rem auto;
  .date-card-style {
    position: relative;
    border: none;
    margin: auto;
    .card-custom-Body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .card-body {
        padding-bottom: 0px;
        padding-top: 0px;
        padding-left: 8px;
      }
      .card-title {
        font-size: 11px;
        text-transform: uppercase;
      }
      .desc {
        font-weight: 600;
        font-size: 9px;
        line-height: 11px;
        color: #909090;
        margin-bottom: 5px !important;
      }
      .address-date-host {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .date-host {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 55%;
        }

        .address {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-weight: 500;
          font-size: 10px;
          color: #515151;
        }
        img {
          margin-right: 3px;
          width: 16.99px;
          height: 16.99px;
        }
      }
      .blue-side {
        text-align: center;
        background: #64e2ff;
        padding: 1rem 1rem 4rem 1rem;
        border-radius: 0 0 0 5px;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .profile-img {
        position: absolute;
        left: 2.7rem;
        bottom: 0.5rem;
        width: 27px;
        height: 27px;
        border: 1px solid #fff;
        border-radius: 50%;
      }
      .event-card-chat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 12px;
        .chat {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-weight: 500;
          font-size: 7px;
          color: #515151;
          margin-bottom: 3px !important;
          svg {
            margin-right: 3px;
          }
        }
        .last-content {
          display: flex;
          align-items: center;
          .user-img-2 {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            margin-right: -8px;
            border: 1px solid white;
          }
          .others {
            margin-left: 7px;
            font-size: 7px;
            margin-right: auto;
            margin-bottom: 0px;
          }
        }
        .price-txt {
          color: black;
          font-size: 11px;
          font-weight: bold;
          margin: 0 !important;
        }
      }
    }
  }
}
.start-event-card {
  width: 90%;
  margin: 4rem auto;
  border: 1px solid rgb(255, 254, 254);
  background-color: none;
  .start-event-card-style {
    position: relative;
    border: none;
    margin: auto;
    .card-custom-Body {
      display: flex;
      justify-content: space-between;
      .card-body {
        padding-bottom: 8px;
        padding-top: 60px;
        padding-left: 16px;
        background: linear-gradient(140.6deg, #002c6d 0%, #0082cf 100%);
      }
      .card-img {
        width: 342px;
        height: 427px;
      }
      .card-title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        letter-spacing: 0.063em;
        color: #ffffff;
      }
      .desc {
        line-height: 14px;
        margin-bottom: 5px !important;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: -0.017em;
        color: #ffffff;
      }
      .event {
        color: white;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        letter-spacing: -0.017em;
        color: #ffffff;
        margin-top: 2rem;
      }
      .box {
        width: 67.66px;
        height: 64px;
        background: #ffffff;
        justify-content: space-between;

        span {
          font-style: normal;
          font-weight: 700;
          font-size: 21.9429px;
          line-height: 38px;
          display: flex;
          justify-content: center;
          letter-spacing: 0.063em;
          color: #1f518b;
        }
        p {
          font-weight: 700;
          font-size: 10.9714px;
          line-height: 9px;
          display: flex;
          justify-content: center;
          letter-spacing: 0.063em;
          color: #1f518b;
        }
        hr {
          margin: -3px 0px 9px;
          border: 0.914286px dashed #1f518b;
        }
      }
      .address {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.017em;
        color: #ffffff;
        margin-top: 2rem;
      }
      .bottom-sec {
        background: #ffffff;
        margin-left: -16px;
        margin-right: -17px;
        .date-host {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 55%;
        }

        .address {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-weight: 500;
          font-size: 12px;
          color: #515151;
        }
        img {
          margin-right: 3px;
        }
      }
      .blue-side {
        text-align: center;
        background: #64e2ff;
        padding: 1rem 1rem 4rem 1rem;
        border-radius: 0 0 0 5px;
        color: #fff;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .profile-img {
        position: absolute;
        left: 20rem;
        bottom: 1.1rem;
        width: 71px;
        height: 68px;
        border: 6px solid #fff;
        border-radius: 50%;
      }
      .event-card-chat {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 42px 0px 33px;
        .chat {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          font-weight: 500;
          font-size: 7px;
          color: #515151;
          margin-bottom: 3px !important;
          svg {
            margin-right: 3px;
          }
        }
        .last-content {
          display: flex;
          align-items: center;
          .user-img-2 {
            height: 15px;
            width: 15px;
            border-radius: 50%;
            margin-right: -8px;
            border: 1px solid white;
          }
          .others {
            margin-left: 7px;
            font-size: 7px;
            margin-right: auto;
            margin-bottom: 0px;
          }
        }
        .price-txt {
          color: black;
          font-size: 11px;
          font-weight: bold;
          margin: 0 !important;
        }
      }
      .botom-sec {
        background-color: #fff;
        padding: 24px 38px;
        margin-left: -16px;
        margin-right: -17px;
        margin-top: 32px;
      }
    }
  }
}
.cf-events {
  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.063em;
    color: #ffffff;
    margin-top: 3rem;
    span {
      font-weight: 600;
    }
  }
  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    justify-content: center;
    letter-spacing: 0.208em;
    color: #ffffff;
  }
  .bg-img-2 {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/img2.png");
    height: 280px;
    z-index: 1;
    width: 52%;
  }

  .bg-img-3 {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/img3.png");
    width: 56%;
    z-index: 2;
    margin-left: -8%;
    height: 280px;
  }
  .circle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ff9700;
    right: 48%;
    margin: 115px 23px;
    position: absolute;
    z-index: 3;
    border: 6px solid white;
    color: white;
    font-size: 27px;
    font-weight: 700;
  }
}
.main-somethingtodo {
 
  .somethingtodoHighlight {
    background: #64e2ff !important;
    width: 39.7%;
    height: 25px;
    top: 24px;
    right: 65.5%;
    position: absolute;
    z-index: -1;
  }
  margin-top: 4rem;
  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    letter-spacing: 0.063em;
    color: #161616;
  }
  .dropdown-btn {
    border: 1px solid #ff9700 !important;
    border-radius: 14px;
    color: #ff9700;
    text-transform: uppercase;
    font-size: 14px;
    width: 145px;
  }
  .somethingtodoDiv { 
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
  }
  p {
    font-size: 14px;
    margin-bottom: 0 !important;
  }
  .smText {
    margin-right: 5rem;
  }
}
.power-up {
  background-image: url(../../../assets/sec5.png);
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 350px;
  margin: auto;
  p {
    position: absolute;
    right: 63.68%;
    top: 55.39%;
    bottom: 43.83%;
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    letter-spacing: 0.063em;
    color: #ffffff;
  }
}
.ready-togo {
  // width: 1440px;
  // height: 499px;
  // left: 0px;
  // top: 3888px;
  h1 {
    font-weight: 700;
    font-size: 54px;
    line-height: 64px;
    display: flex;
    align-items: center;
    letter-spacing: 0.063em;

    color: #ffffff;
  }
  p {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    letter-spacing: 0.063em;
    color: #ffffff;
  }

  background: linear-gradient(140.6deg, #002c6d 0%, #0082cf 100%);
}

/* blog css */
.main-blog {
  margin-top: 5rem;
  .blogHighlight {
    background: #64e2ff !important;
    width: 39.7%;
    height: 25px;
    top: 24px;
    right: -0.5%;
    position: absolute;
    z-index: -1;
  }
  .checkout {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.063em;
    color: #161616;
  }
  .card111 {
    /* width: 280px; */
    height: 360px;
    border-radius: 15px;
    padding: 1.5rem;
    margin: 10px;
    background: white;
    position: relative;
    display: flex;
    align-items: flex-end;
    transition: 0.4s ease-out;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .info {
      position: relative;
      z-index: 3;
      color: white;
      opacity: 1;
      transform: translateY(130px);
      transition: 0.5s;

      h1 {
        margin: 0px;
        font-weight: 700;
        font-size: 25px;
        line-height: 29px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.063em;
      }
      p {
        letter-spacing: 1px;
        font-size: 15px;
        margin-top: 42px;
        margin-left: 37px;
        opacity: 1;
      }
    }
    .search-icon {
      position: relative;
      z-index: 34;
      color: white;
      opacity: 0;
      transition: 0.5s;
      margin: 47px 63px -36px 82px;
      span {
        font-size: 18px;
        display: inline-block;
        background: rgba(100, 226, 255, 0.78);
        color: #fff;
        line-height: 1;
        padding: 33px 32px;
        margin-right: 4px;
        border-radius: 50%;
        text-align: center;
        width: 100px;
        height: 100px;
        transition: 0.3s;
        .icon {
          margin-right: 4px;
          border-radius: 50%;
          text-align: center;
          align-items: center;
          display: flex;
          width: 36px;
          height: 36px;
        }
      }
    }
  }
  .card111:hover {
    transform: translateY(0px);
  }
  .card111:hover:before {
    opacity: 0;
  }
  .card111:hover .info {
    opacity: 1;
    transform: translateY(0px);
    color: #515151;
  }
  .card111:hover .info p {
    opacity: 1;
    transform: translateY(0px);
  }
  .card111:hover .search-icon {
    opacity: 1;
    transform: translateY(0px);
  }
  .card111:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: 0.5s;
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  .highlight {
    left: 183px;
    top: 126px;
  }
  .happen-wrapper .happen-text .topVanueHighlight {
    top: 17.3rem;
    width: 50.7%;
    right: 31.5%;
  }
  .ready-event-card .last-row {
    margin: 0px 0px 0px -56px;
    border-bottom-right-radius: 10px;
    margin-top: 47px;
  }
  .cf-events {
    .bg-img-3 {
      width: 54%;
      margin-left: -8%;
  }
  .bg-img-2 {
    width: 54%;
}
.circle {
  right: 46%;
}
  }
}
@media (max-width: 1024px) {
  .date-events {
    width: auto;
  }
  .main-casual {
    width: 930px;
  }
  .main-dining {
    width: 930px;
  }
  .happen-wrapper .happen-text .topVanueHighlight {
    width: 54.7%;
    top: 12.9rem;
    right: 27.5%;
  }
  .main-readyEvent {
    h2 {
      font-weight: 700;
      font-size: 28px;
      line-height: 81px;
      letter-spacing: 0.063em;
      color: #ffffff;
  }
  p{
    font-size: 12px;
    line-height: 22px;
  }
  .card2-img{
    height: 26.7rem;
  }
  
  }
  .main-somethingtodo {
    h2 {
      font-weight: 700;
      font-size: 31px;
    }
    .somethingtodo-text {
      font-size: 12px;
      margin-top: 2rem;
    }
  }
  .date-cards {
    .date-card-style {
      .card-custom-Body {
        .address-date-host {
          .address {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            font-weight: 500;
            font-size: 7px;
            color: #515151;
          }
          img {
            margin-right: 3px;
            height: 10px;
          }
        }
      }
    }
  }
  .ready-event-card {
    .box-1 {
      button {
        border-radius: 7px;
        font-size: 10px;
        font-weight: 500;
        margin: 1px 3px;
        margin-top: 39px;
      }
    }
  }
  .main-blog {
    .card111 {
      .search-icon {
        margin: 15px 55px -48px 55px;
    }
     .info{
      h1{
        font-size: 20px;
      }
       p {
        letter-spacing: 1px;
        font-size: 13px;
        margin-top: 68px;
        margin-left: 37px;
        opacity: 0;
      }
     }
  
    }
  }
}
@media (max-width: 992px) {
  .bg-img {
    background-size: cover !important;
    // .place {
    //   font-size: 35px !important;
    // }
    .top-buttons {
      display: block !important;
      button {
        margin-bottom: 10px;
      }
    }
  }

  .happen-wrapper {
    padding-top: 5rem;
    .happen-text {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
      color: #1f518b;
      text-transform: uppercase;
      span {
        color: #ff9700;
      }
      .topVanueHighlight {
        background: #64e2ff !important;
        width: 42.7%;
        height: 25px;
        top: 15.5rem;
        right: 40.5%;
        position: absolute;
        z-index: -1;
      }
    }
    .dropdown-btn {
      border: 1px solid #ff9700 !important;
      border-radius: 14px;
      color: #ff9700;
      text-transform: uppercase;
      font-size: 14px;
      width: 190px;
      height: 36px;
    }
  }
  .date-events {
    width: 100%;
    .dateHighlight {
      display: none;
    }
    .date-text {
      h2 {
        font-size: 20px;
        line-height: 24px;
      }
    }
  }
  .main-casual {
    width: 100%;
  }
  .main-dining {
    width: 100%;
  }
  .cf-events {
    h2 {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      margin-top: 30px;
    }
    p {
      font-size: 10px;
    }
    .bg-img-3 {
      width: 100%;
      margin-left: 0;
      border-top: 3px solid white;
    }
    .bg-img-2 {
      width: 100%;
      margin-right: 0;
      background-position: center center;
      border-top: 3px solid white;
    }
    .circle {
      margin: 167px -35px;
    }
  }
  .main-somethingtodo {
    margin-top: 1rem;
    .somethingtodoHighlight {
      height: 9px;
      top: 9px;
    }
    .somethingtodo-text {
      font-size: 10px;
      margin-top: 1rem;
    }
    h2 {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.017em;
    }
    .dropdown-btn {
      border: 1px solid #ff9700 !important;
      border-radius: 7px;
      color: #fff;
      text-transform: uppercase;
      font-size: 9px;
      background-color: #ff9700;
    }
  }
  .go-outside {
    background-image: url(../../../assets/sec-8.png);
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100% !important;
    height: 239px;
    margin: auto;
    p {
      position: absolute;
      margin-top: 175px;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      left: 10%;
      color: #ffffff;
      letter-spacing: 0.063em;
    }
  }
  .main-blog {
    .blogHighlight {
      background: #64e2ff !important;
      height: 9px;
      top: 10px;
      right: -0.5%;
      position: absolute;
      z-index: -1;
    }
    .checkout {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: -0.017em;
      color: #161616;
    }
    .card111 {
      height: 110px;
      border-radius: 15px;
      padding: 1.5rem;
      margin: 5px;
      background: white;
      position: relative;
      display: flex;
      align-items: flex-end;
      transition: 0.4s ease-out;
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
      .info {
        position: relative;
        z-index: 3;
        color: white;
        opacity: 1;
        transform: translateY(0px);
        transition: 0.5s;
        h1 {
          font-weight: 500;
          font-size: 5px;
          line-height: 12px;
        }
        p {
          display: none;
          letter-spacing: 1px;
          font-size: 15px;
          margin-top: 8px;
          font-size: 15px;
        }
      }
      .search-icon {
        display: none;
        position: relative;
        z-index: 34;
        color: white;
        opacity: 1;
        transform: translateY(100px);
        transition: 0.5s;
        margin: 5px 0px 0px 59px !important;
        span {
          padding: 15px 17px;
          width: 65px;
          height: 65px;
        }
        p {
          letter-spacing: 1px;
          font-size: 15px;
          margin-top: 8px;
          font-size: 15px;
          width: auto;
        }
      }
    }
  }
  .power-up {
    display: none;
  }


}

@media (max-width: 475px) {

      .bg-img {
      .top-text {
        .place {
          font-size: 20px;
          line-height: 71px;
          margin-top: 178px;
          margin-bottom: 18px;
      }
      }
    }
    .happen-wrapper {
      padding-top: 0rem !important;
      .happen-text {
        justify-content: center;
        font-weight: 700;
        font-size: 31px;
        line-height: 28px;
     
        .topVanueHighlight {
          background: #64e2ff !important;
          width: 30.7%;
          height: 16px;
          top: 2.5rem;
          right: 12.5%;
        }
      }
    }
    .cf-events {
      .circle {
        margin: 241px -34px;
    }
    }
    .main-somethingtodo  {
      .somethingtodoDiv {
        // justify-content: space-between;
        flex-wrap: wrap; 
        .dropdown-btn{
          width: 100px;
        }
        .smText {
          margin-right: 2rem;
        } 
      } 
      .mobile-screen{
        .dropdown-btn{
          width:  auto !important;
        }
      }
    }
    .date-cards {
      .date-card-style {
        width: 92%;
        margin: 20px auto;
    }
   
  }
  .mobile-screen{
    .top-vanues-card-style {
      width: 70%;
      .card-custom-Body {
        .card-title {
          font-weight: 700;
          font-size: 14px;
          line-height: 27px;
          text-align: start;
        }
        .address {
          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          .loction-icon{
          width: 40.96px;
          height: 40.96px;
          }
        }
       .blue-side {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0.063em;
        color: #1F518B;
      //   p {
      //     margin-top: -28px;
      //     margin-bottom: -1rem;
      // }
      }
      
    }
    }
    .set-postion{
      position: absolute;
      margin-top: 0rem;
    }
    .vanuebg1{
      background-image: url("../../../assets/vanuebg11.png");
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 192px;
      z-index: -1;
      position: "relative"
    }
    .vanuebg2{
      background-image: url('../../../assets/Untitled.png');
      text-align: center;
      background-size: cover;
      background-repeat: no-repeat;
      height: 156px;
      z-index: 1;
      position: "relative"
    } 
  }
  .main-readyEvent{
    padding: 0px !important;
    .shareDiv{
      background-color: #fff;
      h2{
        font-weight: 600;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: -0.017em;
        color: #1F518B;
      }
      .btn-main {
        width: 116px;
        height: 44px;
        background: #0081CB;
        border-radius: 13px;
        color: #fff;
        text-transform: uppercase;
        font-size: 14px;
      }
      .last-row {
        position: relative;
        background-color: #fff;
        .user-imge {
          left: 44px;
          height: 51px;
          width: 52px;
          position: absolute;
          border: 3px solid #fff;
          border-radius: 50%;
        }
        p {
          span {
            font-weight: 600;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            letter-spacing: -0.017em;
            color: #515151;
          }
        }
        .social-links {
          a{
              font-size: 18px;
              display: inline-block;
              background: #515151;
              color: #fff;
              line-height: 1;
              padding: 6px 0;
              margin-right: 9px;
              border-radius: 50%;
              text-align: center;
              width: 36px;
              height: 36px;
              transition: 0.3s;
          }
          
      }
        .usersDiv {
          margin: 2.3rem 0px 0px 4.8rem;
        
          .p {
            font-size: 10px;
            margin: 0 !important;
          }
          .last-content {
            display: flex;
            align-items: center;
            .user-img-2 {
              height: 21px;
              width: 21px;
              border-radius: 50%;
              margin-right: -6px;
              border: 1px solid white;
            }
            .others {
              margin-left: 11px;
              font-size: 7px;
              margin-right: auto;
              margin-bottom: 0px;
            }
          }
        }
        .price-txt {
          color: black;
          font-weight: 700;
          font-size: 16px;
          line-height: 19px;
          display: flex;
          align-items: center;
          letter-spacing: 0.063em;
        }
      }
    }
    .small-screen-start-event{
      padding: 0px !important;
      width: 100%;
      .card-img{
        height: 12.5rem;
      }
      .btn-main {
            width: 98px;
            height: 36px;
            border-radius: 14px;
            font-size: 12px;
            font-weight: 400;
          }
          .date-host {
            display: flex;
            justify-content: center;
            align-items: center;
            .btn-main {
              width: 70px;
              height: 34px;
              border-radius: 6px;
              font-size: 10px;
            }
            p{
              margin-right: 0.8rem;
            }
          }
      .date-time{
      .dot-style{
        font-size: 17px;
      }
      .span-2{
        margin-left: -13px;
      }
        p{
        font-size: 12px;
        line-height: 7px;
        letter-spacing: 0.063em;
        color: #FFFFFF;
        font-weight: 500;
        }
        .address{
          color: #FFFFFF;
          .loction-icon{
            width: 24px;
             height: 24px;
          }
          span{
            font-size: 13px;
            line-height: 12px;
          }
          img{
            width: 15px;
            height: 16px;
          }
        }
    
      }
    
          hr{
            border-top: 2px dashed #FFFFFF;
            margin: 20px 6px 0px 12px !important;
            }
        h2{
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          letter-spacing: 0.063em;
          color: #FFFFFF;
        }
        .last-row {
          position: relative;
          background-color: #fff;
          margin: 0px -24px 0px -24px;
          /* border-bottom-right-radius: 10px; */
          margin-top: -13px;
          .user-imge {
            left: -24px;
            height: 51px;
            width: 52px;
            position: absolute;
            border: 3px solid #fff;
            border-radius: 50%;
          }
          p {
            span {
              font-weight: 600;
              font-size: 16px;
              line-height: 19px;
              display: flex;
              align-items: center;
              letter-spacing: -0.017em;
              color: #515151;
            }
          }
          .usersDiv {
            margin: 2.3rem 0px 0px 1.4rem;
            .p {
              font-size: 10px;
              margin: 0 !important;
            }
            .last-content {
              display: flex;
              align-items: center;
              .user-img-2 {
                height: 21px;
                width: 21px;
                border-radius: 50%;
                margin-right: -6px;
                border: 1px solid white;
              }
              .others {
                margin-left: 11px;
                font-size: 7px;
                margin-right: auto;
                margin-bottom: 0px;
              }
            }
          }
          .price-txt {
            color: black;
            font-weight: 700;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            letter-spacing: 0.063em;
          }
        }
    }
  }

  .date-cards{
    .top-vanues-card-style{
      hr {
        border-top: 2px dashed #64e2ff;
        margin: -2px 10px 7px 6px !important;
      }
        .card-custom-Body {
          .blue-side {
            background: #64e2ff;
            padding: 0.88rem 1.5rem;
            p{
              font-weight: 600;
              font-size: 12px;
              line-height: 14px;
              letter-spacing: 0.063em;
              color: #1F518B;
            }
          }
        }
          .date-host {
            display: flex;
            align-items: center;
            .address {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              font-weight: 500;
              padding: 0px 10px;
              font-size: 12px;
              color: #515151;
              img{
                width: 12px;
                height: 12px;
              }
            }
          }
          .profile-img {
              position: absolute;
              left: 0.7rem;
              bottom: 0.5rem;
              width: 27px;
              height: 27px;
              border: 1px solid #fff;
              border-radius: 50%;
            }
            .event-card-chat {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-left: 34px;
              
              .last-content {
                display: flex;
                align-items: center;
                .user-img-2 {
                  height: 15px;
                  width: 15px;
                  border-radius: 50%;
                  margin-right: -8px;
                  border: 1px solid white;
                }
                .others {
                  margin-left: 7px;
                  font-size: 7px;
                  margin-right: auto;
                  margin-bottom: 0px;
                }
              }
              .price-txt {
                color: black;
                font-size: 11px;
                font-weight: bold;       
                margin: -132px !important;
              }
            }
  }
  }
  .date-events{
    .date-text{
      .btn-main{
        width: 109px;
        height: 40px;
        font-weight: 600;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.063em;
      }
    }


  }
  .top-vanues-card-style {
    // .slick-current {
    //   width: 39px !important;
    // }
    .card-custom-Body {
      .desc {
        display: none;
      }
      .card-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        text-align: start;
      }
      .blue-side {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.063em;
        color: #1F518B;
      }
      
    }
  }
 

  .slick-prev {
    display: none !important;
  }

  .slick-next {
    display: none !important;
  }

  .happen {
    text-align: center !important;
  }


  .in-town-highlight {
    width: 35.7% !important;
    height: 16px !important;
    margin-top: 14px !important;
    left: 7% !important;
  }

  .find-wine-highlight {
    width: 35.7% !important;
    height: 16px !important;
    margin-top: 10px !important;
    right: 6% !important;
    z-index: -2 !important;
  }
 
  .sec6-para1 {
    font-size: 19px !important;
    font-weight: 600 !important;
    width: 100% !important;
  }

  .sec7-para1 {
    width: 100% !important;
    font-size: 19px !important;
    font-weight: 600 !important;
    width: 100% !important;
  }

  .bg-img1 {
    height: 220px !important;
  }

  .sec6-para2 {
    font-size: 15px !important;
    font-weight: 300 !important;
  }

  .outside {
    font-size: 35px !important;
    margin-top: 143px !important;
  }

  .checkout {
    font-size: 20px !important;
  }

  .blogHighlight {
    width: 41.7% !important;
    height: 14px !important;
    top: 14px !important;
    right: 1.5% !important;
  }

  .somethingHighlight {
    width: 41.7% !important;
    height: 14px !important;
    top: 21px !important;
    left: -1.2% !important;
  }

  .power {
    font-size: 35px !important;
    margin-top: 195px !important;
    left: 12% !important;
  }
}
