.btn-main {
  width: 245px;
  height: 36px;
  background: linear-gradient(92.39deg, #ff9700 0%, #de8300 91.96%);
  border-radius: 14px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin: 0 1rem;
  border: none;
}

.outlined-btn {
  width: 245px;
  height: 36px;
  border: 1px solid #ff9700 !important;
  border-radius: 14px;
  color: #ff9700;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  margin: 0 1rem;
  border: none;
}

.slick-list {
  position: relative;
  /* display: block; */
  overflow: hidden;
  margin: 0;
  padding: 0;
}


// global use class

// btn_primary you can pass width and height through style
.btn_primary {
  width: 122px;
  height: 33px;
  background: linear-gradient(92.39deg, #FF9700 0%, #DE8300 91.96%);
  border-radius: 14px;
  border: none;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.063em;
  color: #FFFFFF;
}

// green button
.btn_secondary {
  background: #6FCE00;
  box-shadow: 0px 14px 24px -8px rgba(111, 206, 0, 0.4);
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 8px;
  color: #FFFFFF;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  border: none;

}

// blue button
.btn_blue {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 8px;
  width: 116.6px;
  height: 36px;
  background: #0081CB;
  border-radius: 14px;
  border: none;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF;
}

// error button
.btn_error {

  background: #FB0000;
  border-radius: 14px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 16px;
  gap: 8px;
  color: #FFFFFF;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  border: none;
}

// h2 which font size is 40 and color is dark blue
h2 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  /* identical to box height */
  letter-spacing: 0.063em;
  /* Dark blue */
  color: #1F518B;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  padding-top: 0.4rem;
}

h3 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #1F518B;
  flex: none;
  order: 0;
  flex-grow: 0;
}

// h5 which font size is 12 and color is black
h5 {

  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #161616;

}

// paragraph which font size is 14 and color is white
.p_white {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

// paragraph which font size is 10 and color is gray
.p_gray_10 {
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #909090;
}

// paragraph which font size is 20 and dark blue
.p_blue_size_20 {
  color: #1F518B;
  font-family: 'SF UI Display';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.063em;
  margin-top: revert;
}

// customize range slider 

.custom_range_slider {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  margin-top: 0.8rem;

  .min {
    position: absolute;
    top: 5px;
    left: 0;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  .max {
    position: absolute;
    top: 5px;
    right: 0;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  .zero {
    position: absolute;
    top: -28px;
    left: 6px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  .max_num {
    position: absolute;
    top: -28px;
    right: 2px;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
  }

  .range-slider {
    border: 1px dashed #1F518B;
    height: 0;

    .range-slider__thumb {
      background: #1F518B;
      height: 20px;
      width: 20px;
      border: 2px solid white;

    }
  }


}