@import "../../../breakpoint.scss";
.login-main-heading{
  font-weight: 700;
font-size: 40px;
line-height: 48px;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.063em;

/* Grey/ Dark */

color: #515151;
span{
  color: #1F518B;
}
}
.main-login{
    .top-sec {
        // text-align: start;
        height: 80px;
        img {
          max-width: 100%;
          height: 80px;
        }
      }

      .form-sec{
        background-color: #F5FAFF;
        box-shadow: 0px 0px 6.91532px 3.31935px rgba(172, 214, 255, 0.8);
        h2{
            margin-top: 3rem;
        }
        input{
            Width: 256px;
            height: 35px;
            // outline: 1px solid #1F518B;
            border: 1px solid #1F518B;
            border-radius: 4px;
            justify-content: unset !important;
        }

        .phoneinput{
          Width: 176px; 
        }
        .btn-main {
         width: 133px;
        //  margin-bottom: 3rem;
        }
        .select {
          color: #1F518B;
          background: #FFFFFF;
          padding: 6px 8px;
          border: 1px solid #1F518B;
          border-radius: 6px;
          font-weight: 400;
          font-size: 12px;
          // width: 60px;
          gap: 8px
        }
        
        .pass-wrapper{
        .icon{
          margin-left: -30px;
          width: 24px;
          height: 24px;
        }
        .icon2{
          margin-left: 224px;
          margin-top: -61px;
          width: 24px;
          height: 24px;
        }
        }
      }
}

@include media ('<=Lphone'){
  .main-login{
    .top-sec {
        text-align: center;
        display: flex;
        justify-content: center;
        height: 80px;
        img {
          max-width: 100%;
          height: 80px;
        }
      }
      .form-sec{
        margin-top: 5rem;
        h2{
            margin-top: 2.9rem;
            line-height: 0px;
        }
        input{
            width: 100%;
        }
        .phoneinput{
          Width: 100%;
          
        }
     
 
      }
}
}