/* TopContent css */
.top-sec {
    text-align: center;
    height: 70px;

}
.main-logo {
    max-width: 100%;
    height: 70px;
}
.in-town-highlight {
    background: #0e3060;
    width: 14.7%;
    height: 25px;
    margin-top: 24px;
    left: 25%;
    position: absolute;
}

.find-wine-highlight {
    background: #0e3060;
    width: 14.7%;
    height: 25px;
    margin-top: -39px;
    right: 38%;
    position: absolute;
}

.section1-content {
    position: relative;
    z-index: 1;
    padding: 4rem 2rem;
    text-align: -webkit-center;
}

.anyone {
    margin-left: 80px;
}

.sec6-para2 {
    color: #fff;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.sec6-button1 {
    color: #fff;
    font-weight: 500;
    background-color: #ff9700;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 5px 30px;
}


/* dinning sec7 css */

.sec7-bg-img1 {
    background-position: right !important;
}

.sec7-button1 {
    color: #fff;
    font-weight: 500;
    background-color: #ff9700;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 5px 30px;
}

.section-8 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // background-image: url(../Images/sec-8.png);
    width: 100% !important;
    height: 239px;
    z-index: 145;
    margin-bottom: 100px;
    margin-top: -20px;
}

.outside {
    margin-top: 167px;
    font-size: 60px;
    position: absolute;
    color: #bfbcbd;
    font-weight: 700;
    letter-spacing: 4px;
    left: 20%;
}


/* blog css */

.blogHighlight {
    background: #95e1ff !important;
    width: 28.7%;
    height: 25px;
    top: 24px;
    right: 12.5%;
    position: absolute;
    z-index: -1;
}

.somethingHighlight {
    background: #95e1ff !important;
    width: 28.7%;
    height: 25px;
    top: 17px;
    left: -1.5%;
    position: absolute;
    z-index: -1;
}

.checkout {
    font-family: "Muli";
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 12px;
}

.section-9 {
    /* display: flex; */
    width: 100%;
}

.s91 {
    position: relative;
    width: 100% !important;
    height: 270px;
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
}


/* .s91:hover .overlay {
  opacity: 0 !important;
}

.container:hover .overlay {
  opacity: 1;
} */

a:link {
    text-decoration: none !important;
    font-size: 13px;
}

.lorem1 {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    top: 40%;
    width: 100%;
    text-align: center;
    margin: auto;
}

.but {
    margin-top: 5rem;
    text-align: center;
}

.see-but {
    color: #fff;
    font-weight: 500;
    background-color: #ff9700;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 5px 25px;
}

.sec7-bg-img1 {
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
    // background-image: url(../Images/sec7.png);
    width: 100% !important;
    height: 350px;
    margin-top: 50px;
    z-index: 145;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec6-para1 {
    color: #fff;
    font-size: 30px !important;
    font-weight: bolder;
    word-spacing: 5px;
    letter-spacing: 5px;
    width: 75%;
}

.sec7-para1 {
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    word-spacing: 5px;
    letter-spacing: 5px;
    width: 75%;
}

.sec7-para2 {
    color: #fff;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-size: 15px;
    font-weight: 400;
}

.sec6-bg-img1 {
    padding: 1.5rem 0.5rem;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/sec6.png);
    width: 100% !important;
    height: auto;
    z-index: 145;
}

.bg-img {
    background-image: url("../../../assets/homebg.png");
    height: 36rem;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 750px) {
    .bg-img {
        background-size: cover;
        width: auto;
    }
}

.something {
    font-size: 30px;
    font-weight: bold;
    color: #1f518b;
    margin-top: 35px;
}

.place {
    font-size: 50px;
    margin-top: 95px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    z-index: 197;
}

.create-btn {
    color: #fff;
    font-weight: 500;
    background-color: #ff9700;
    border-radius: 8px;
    outline: none;
    border: none;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 15px;
    margin-right: 30px;
    width: 245px;
    height: 35px;
    outline: none;
}

.find-btn {
    color: #ff9700;
    font-weight: 500;
    background-color: black;
    border-radius: 8px;
    border: 1px solid #ff9700;
    text-transform: uppercase;
    padding: 5px 20px;
    font-size: 15px;
    width: 245px;
    height: 35px;
    outline: none;
}


/* Venue css */

.events {
    margin: 2% 0px;
}

.customWidthCol {
    width: 20% !important;
    padding: 0 !important;
}

.happen {
    font-size: 25px;
    font-weight: 700;
    color: rgb(31, 81, 139);
    text-transform: uppercase;
    line-height: 27px;
    margin-bottom: 1rem;
}

.tron {
    color: #ff9700 !important;
    margin-left: 10px;
    font-size: 25px;
}

.cities {
    color: #ff9700 !important;
    border: 1px solid #ff9700 !important;
    padding: 5px;
    margin-top: 5px;
    font-size: 12px;
}

.cities:focus {
    outline: #ff9700 !important;
    border-color: #ff9700 !important;
    border: 1px solid #ff9700;
}


/* VenueCard Css */

.event-card {
    box-shadow: 0px 3px 7px grey;
    border-radius: 10px;
    margin: 4px 1.5rem;
    background-color: white;
    transition: transform 0.2s;
}

.event-card1 {
    margin: 1px;
}

.event-card:hover {
    transform: scale(1.03);
    overflow: visible;
}

.ecard-imgd {
    width: 100%;
    height: 110px;
}

.ecard-img {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    object-fit: cover;
}

.ecard-row {
    margin-left: 0 !important;
    margin-right: -1px !important;
}

.ehead {
    font-weight: bold;
    margin-bottom: 0 !important;
    line-height: 16px !important;
    font-size: 12px;
    text-transform: uppercase;
    color: black;
    width: 100%;
    height: 2rem;
}

.ehead-2 {
    font-size: 9px;
    margin-top: 5px;
    margin-bottom: 0 !important;
    /* line-height: 1; */
    height: 3rem;
}

.efor-color {
    padding: 5px 8px !important;
    /* height: 143px; */
    background-color: #5ab8eb;
    border-bottom-color: #5ab8eb;
    border-bottom-right-radius: 9px;
}

.card-content1 {
    margin: 8px 0;
}

.edate1 {
    color: #fff;
    font-size: 9px;
    /* font-weight: 600; */
    /* margin-left: 10px; */
}

.edate2 {
    color: #fff;
    font-size: 12px;
    /* margin-left: 10px; */
}

.edate3 {
    color: #fff;
}


/* goldevent css */

.gold-event {
    margin-top: 20px;
}

.slick-prev:before,
.slick-next:before {
    color: rgb(31, 81, 139) !important;
}

.gold-cont {
    padding-right: 0px;
    /* margin-top: 2rem; */
}


/* silver css */

.silver-event {
    margin-top: 20px;
}


/* Date css start */

.bg-img1 {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // background-image: url(../Images/img1.png);
    width: 100% !important;
    height: 350px;
    z-index: 145;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para1 {
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    word-spacing: 5px;
    letter-spacing: 5px;
}

.para2 {
    color: #fff;
    letter-spacing: 3px;
    word-spacing: 5px;
}

.button1 {
    margin-top: 5%;
    color: #fff;
    font-weight: 500;
    background-color: #ff9700;
    border-radius: 12px;
    outline: none;
    border: none;
    padding: 5px 30px;
}

.check {
    margin-top: -20px !important;
}


/* date card ccs */


/* event card css */

.eveent-card {
    border: 1px solid lightgray;
    margin-top: 10px;
    height: 320px;
    width: 365px;
    padding: 0px;
    border-radius: 10px;
}

.event-card-img {
    height: 115px;
    width: 100%;
}

.row1 {
    font-size: 10px;
    color: grey;
}

.d-card-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.dcard-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.for-color {
    background-color: #5ab8eb;
    border-bottom-color: #5ab8eb;
    border-bottom-left-radius: 9px;
}

.cdate1 {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

.cdate2 {
    color: #fff;
    font-size: 11px;
}

.cdate3 {
    color: #fff;
    font-size: 9px;
}

.dhead {
    height: 1rem;
    color: black;
    object-fit: cover;
    font-weight: bold;
    margin-bottom: 0 !important;
    line-height: 11px !important;
    font-size: 11px;
    text-transform: uppercase;
}

.dhead-2 {
    height: 1.5rem;
    font-size: 10px;
    margin-top: 8px;
    margin-bottom: 0 !important;
    line-height: 1;
}

.dcard-content2 {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.sub {
    color: black;
    margin-top: 2px;
    margin-right: 5px;
}

.sub2 {
    font-size: 10px;
    color: black;
    margin-top: 2px;
    margin-right: 0px;
}

.cdate {
    color: black;
    font-size: 10px;
    margin-right: 3px;
    margin-bottom: 0 !important;
}

.cpaid {
    color: black;
    font-size: 8px;
    margin-bottom: 0 !important;
}

.user-img {
    left: -19px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    object-fit: cover;
    height: 35px;
    width: 35px;
    top: 5.4rem;
}

.event-card-chat {
    margin-left: -40px;
    align-items: center;
}

.chatOptionDiv {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px 0;
    margin-left: 30px;
}

.last-content {
    display: flex;
    align-items: center;
}

.dchat-txt {
    margin-left: 15px;
    font-size: 10px;
    margin-bottom: 0;
}

.others {
    margin-left: 7px;
    font-size: 7px;
    margin-right: auto;
    margin-bottom: 0px;
}

.set-pd {
    display: flex;
}

.price-txt {
    color: black;
    font-size: 11px;
    font-weight: bold;
    margin: 0 !important;
}

.user-img-2 {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: -8px;
    border: 1px solid white;
}

.greator {
    margin-left: 1px;
}


/* CFEvent css */

.sec-2 {
    position: relative;
    padding: 0px 0px !important;
    margin-bottom: 40px;
    margin-top: 45px;
    overflow: hidden;
}

.bg-img-2 {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/img2.png");
    height: 205px;
    z-index: 1;
}

.bg-img-3 {
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/img3.png");
    width: 56%;
    z-index: 2;
    margin-left: -6%;
    height: 205px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    transition: height 1.3s;
    background: rgba(39, 72, 91, 0.8);
}

.s91:hover .overlay {
    height: 0px;
    color: black;
}

.or-con {
    border-radius: 50%;
    padding: 10px 15px;
    color: #fff;
    background-color: #ff9700;
}

.cr {
    font-weight: bold;
}

.create {
    color: white;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
}

.follow {
    color: white;
    font-size: 18px;
}

.create-but {
    color: white;
    background-color: #ff9700;
    border-radius: 10px;
    padding: 0 10%;
    border: none;
    font-weight: 500;
    outline: none;
    height: 35px;
    margin: auto;
}

.circle-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #ff9700;
    right: 89%;
    top: 33%;
    position: absolute;
    z-index: 3;
    border: 6px solid white;
}

.oor {
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bolder;
}

.fr {
    font-weight: bold;
}

.find {
    color: white;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
}

.todo {
    color: white;
    text-align: center;
    font-size: 16px;
}

.find-but {
    color: white;
    background-color: #ff9700;
    border-radius: 10px;
    padding: 0 10%;
    border: none;
    font-weight: 500;
    outline: none;
    height: 35px;
    margin: auto;
}


/* SomethingToDo css */

.sec-3 {
    padding-top: 1rem !important;
    margin-bottom: 100px;
}

.sec-3 h1 {
    font-weight: bold;
}

.categories {
    display: flex;
    justify-content: flex-start;
    margin: 2rem 0;
}

.cate {
    margin: 0 1rem !important;
}

.all {
    color: blue;
    font-weight: bold;
}

.week {
    word-spacing: 5px;
}

.form-select {
    width: 150px !important;
    border-radius: 0 !important;
}

.form-select:focus {
    box-shadow: none !important;
}

.cardo {
    display: flex;
}


/* ReadyEvent css */

.sec-4 {
    background-color: #ededed;
    padding: 2rem 0;
}

.for-he {
    height: 100% !important;
    justify-content: space-between;
}

.ready-to-go {
    margin: auto 0;
}

.ready {
    color: #022d64;
    font-weight: 700;
}

.dont {
    font-weight: 500;
    letter-spacing: 1px;
}

.view-but {
    margin-top: 10px;
    color: white;
    background-color: #ff9700;
    border-radius: 12px;
    padding: 5px 35px;
    border: none;
    font-weight: 500;
}

.card2 {
    border-radius: 10px;
    border: 1px solid lightgray;
    margin: 0 2rem;
}

.card2-img {
    object-fit: cover;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    width: 100%;
    height: 100%;
}

.content-1 {
    background-color: #007fc8;
    border-top-right-radius: 10px;
    padding: 1rem;
}

.con-para {
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.con-para2 {
    color: white;
    padding: 0;
}

.box-1 {
    border: 2px solid blue;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.bosas {
    display: flex;
}

.box-2 {
    background-color: #cce0ed;
    margin-right: 8px;
    text-align: center;
    padding: 0 5px;
}

.event {
    color: white;
    font-weight: 500;
    text-align: center;
}

.rd-date {
    font-size: 12px;
    font-weight: 500;
    margin-left: 3px;
    margin: 0 !important;
}

.rd-ico {
    width: 1.2rem;
    height: 1.2rem;
}

.rd-paid {
    font-size: 14px;
    font-weight: 500;
    margin: 0 !important;
}

.join-but {
    margin-top: 10px;
    color: white;
    background-color: #ff9700;
    border-radius: 14px;
    border: none;
    font-weight: 500;
    padding: 5px 15px;
    font-size: 10px;
}

.p1 {
    margin-bottom: 0 !important;
    color: #1f518b;
    font-size: 16px;
    font-weight: bolder;
}

.p2 {
    margin-bottom: 0 !important;
    color: #1f518b;
    font-size: 7px;
    text-align: center;
}

.last-row {
    position: relative;
    border-bottom-right-radius: 10px;
    background-color: #fff;
}

.card2-con {
    display: flex;
    justify-content: flex-end;
}

.user-imge {
    left: -35px;
    border-radius: 50%;
    height: 45px;
    width: 70px;
    position: absolute;
    top: 8px;
}

.usersDiv {
    margin: 0.7rem 0 0 2rem;
}

.last-contenta {
    display: flex;
    margin-top: 6px;
}

.chat-txta {
    font-size: 10px;
    margin: 0 !important;
}

.price-txta {
    font-weight: bolder;
    margin: 0 !important;
}

.section-5 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/sec5.png);
    width: 100% !important;
    height: 239px;
    z-index: 145;
    margin-bottom: 100px;
}

.power {
    margin-top: 168px;
    font-size: 60px;
    position: absolute;
    color: #bfbcbd;
    font-weight: 700;
    letter-spacing: 4px;
    left: 17%;
}

@media (max-width: 1200px) {
    .create {
        font-size: 20px;
        letter-spacing: 2px;
    }
    .follow {
        font-size: 16px;
    }
    .find {
        font-size: 20px;
        letter-spacing: 1px;
        margin-top: 2rem;
    }
    .todo {
        font-size: 12px;
    }
}

@media (max-width: 991px) {
    .autocompleteDiv {
        width: 50%;
        margin: 1rem auto;
    }
    .happen {
        font-size: 25px;
        font-weight: 600;
        line-height: 35px;
        letter-spacing: 5px;
    }
    .customWidthCol {
        display: none;
    }
    .cateTitle {
        line-height: 1.7;
        font-weight: 500;
    }
    .cate {
        margin: 0 !important;
    }
    .categories {
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .ready-to-go {
        text-align: center;
        margin-bottom: 2rem !important;
    }
    .outside {
        font-size: 37px !important;
        margin-top: 193px !important;
    }
    .power {
        font-size: 37px !important;
        margin-top: 193px !important;
    }
    .bg-img-3 {
        width: 100%;
        margin-left: 0;
        border-top: 3px solid white;
    }
    .circle-2 {
        right: 40%;
        top: -16%;
        height: 60px;
        width: 60px;
        border: 3px solid white;
    }
}

@media (max-width: 768px) {
    .happen {
        text-align: center !important;
    }
    .p1 {
        font-size: 16px;
    }
    .p2 {
        font-size: 7px;
    }
    .join-but {
        padding: 4px 7px;
        font-size: 10px;
    }
    .rd-ico {
        width: 1rem;
        height: 1rem;
    }
    .rd-paid {
        font-size: 10px !important;
    }
    .rd-date {
        font-size: 10px !important;
    }
    .outside {
        font-size: 26px !important;
        margin-top: 203px !important;
        left: 14% !important;
    }
    .power {
        font-size: 40px;
        margin-top: 193px !important;
        left: 14% !important;
    }
    .checkout {
        font-size: 30px !important;
    }
}

@media (max-width: 700px) {
    .place {
        font-size: 35px;
    }
    /* .top-sec {
        display: flex;
        flex-direction: column;
        align-items: center;
    } */
    .create-btn {
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .para1 {
        font-size: 20px;
        word-spacing: 0;
        letter-spacing: 2px;
    }
    .para2 {
        word-spacing: 1px;
        letter-spacing: 1px;
        font-size: 12px;
    }
    .button1 {
        margin-top: 2%;
    }
}

@media (max-width: 500px) {
    .place {
        font-size: 25px;
        margin-top: 120px;
    }
    .categories {
        display: block;
    }
    .cate {
        margin: 1rem 0 !important;
    }
    .form-select {
        width: 100% !important;
    }
    .bosas {
        justify-content: space-between;
    }
    .content-1 {
        padding: 0.5rem !important;
    }
    .box-1 {
        display: block !important;
        padding: 0.2rem;
    }
    .join-but {
        display: flex;
        justify-content: center;
        margin: 5px auto;
    }
    .box-2 {
        margin-right: 3px;
    }
    .event {
        margin: 0 !important;
    }
}

@media (max-width: 475px) {
    .slick-current {
        width: 340px !important;
    }
    .slick-prev {
        display: none !important;
    }
    .slick-next {
        display: none !important;
    }
    .happen {
        text-align: center !important;
    }
    .in-town-highlight {
        width: 35.7% !important;
        height: 16px !important;
        margin-top: 14px !important;
        left: 7% !important;
    }
    .find-wine-highlight {
        width: 35.7% !important;
        height: 16px !important;
        margin-top: 10px !important;
        right: 6% !important;
        z-index: -2 !important;
    }
    .sec6-para1 {
        font-size: 19px !important;
        font-weight: 600 !important;
        width: 100% !important;
    }
    .sec7-para1 {
        width: 100% !important;
        font-size: 19px !important;
        font-weight: 600 !important;
        width: 100% !important;
    }
    .bg-img1 {
        height: 220px !important;
    }
    .sec6-para2 {
        font-size: 15px !important;
        font-weight: 300 !important;
    }
    .outside {
        font-size: 35px !important;
        margin-top: 143px !important;
    }
    .checkout {
        font-size: 20px !important;
    }
    .blogHighlight {
        width: 41.7% !important;
        height: 14px !important;
        top: 14px !important;
        right: 1.5% !important;
    }
    .somethingHighlight {
        width: 41.7% !important;
        height: 14px !important;
        top: 21px !important;
        left: -1.2% !important;
    }
    .power {
        font-size: 35px !important;
        margin-top: 195px !important;
        left: 12% !important;
    }
}


/* casuals sec6 css */