@import "../../../breakpoint.scss";
.blog-top-img {
    background-image: url("../../../assets/blogbg.png");
    height: 632px;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    .top-sec {
      text-align: center;
      height: 80px;
      img {
        max-width: 100%;
        height: 80px;
      }
    }
    .top-text {
      text-align: center;
      overflow: hidden;
      .toghether{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 54px;
        line-height: 64px;
        letter-spacing: 0.063em;
        color: #D5EAFF;
      }
      .do-it {
        margin-top: 200px;
        margin-bottom: 30px;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 54px;
        line-height: 64px;
        letter-spacing: 0.063em;
        color: #D5EAFF;
      }
      .date-host{
        h2{
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.063em;
            color: #D5EAFF;
        }
        h3{
            font-weight: 600;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.063em;
            color: #D5EAFF;
        }
      }
      .btn-main{
        width: 150px;
        margin-top: 293px;
        margin-bottom: 30px;
      }
      .arrow{
        margin-top: 75px;
        height: 30px;
        width: 30px;
        color: #1F518B;
      }
    }
    .top-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

.main-bloglist{
    // background-color: #D5EAFF;
    .slick-next {
      display: none;
  }
  .slick-prev {
    display: none;
  }
    padding: 3rem;
    .arrow{
      margin-top: 34px;
      height: 34px;
      width: 55px;
      color: #1F518B;
    }
    span{
        color: #ff9700;
    }
    img{
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
    }
    .micimg{
      width: 407px;
      height: 512px;
    }
    h2{
        font-weight: 700;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.063em;
        // color: #161616;
        position: relative;

    }
    .blogHighlight {
      background: #64e2ff !important;
      width: 27.4%;
      height: 21px;
      top: 44.3rem;
      right: 72.5%;
      position: absolute;
      // z-index: -1;
    }
    h3{
      margin-top: 2rem;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.017em;
      color: #1F518B;
    }
    p{
      margin-top: 2rem;
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: -0.017em;
      color: #909090;
    }
    .btn-main{
      width: 152px;
      height: 36px;
      margin: 0 0rem;
    }
    .list-sec{
        h2{
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.063em;
            color: #161616;
        }
        p{
           
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: -0.017em;
            color: #909090;
        } img{
            width: 100%;
        }
    }

    @media (max-width:1249px) {
    
        h3{
            font-weight: 700;
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 0.063em;
            
        }
        h2{
          font-weight: 700;
          font-size: 26px;
          line-height: 48px;
          letter-spacing: 0.063em;
      }
    }
   
}
.blog-card{
  .slick-next {
    display: none;
}
.slick-prev {
  display: none;
}
  h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #161616;
  }
  p{
    margin-top: 0px;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.017em;
    color: #909090;
  }
  img{
    width: 100%;
}
}
.circle-img{
  background-image: url("../../../assets/Ellipse.png");
    // height: 632px;
  //   width: 33%;
  //   background-size: 100% 100%;
  //   background-position: center;
  position: absolute;
width: 775px;
height: 775px;

    background-repeat: no-repeat;
}
.suggested-sec{
  // margin-top: 3rem;
  .slick-next {
    display: none;
}
.slick-prev {
  display: none;
}

.date-cards{
  width: 100%;
}
  .first-row{
    margin-top: 4rem;
    justify-content: unset !important;
    .highligt{
      position: absolute;
      width: 264px;
      height: 78px;
      top: 2030px;
      background-color: #64E2FF;
    }
    h2{
      position: absolute;
      width: 221px;
      height: 116px;
      left: 100px;
      top: 2042px;
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.017em;
      color: #1F518B;
    }
  }


.button-style{
  margin-top: 2rem;
  .btn-main {
    width: 134px;
    height: 36px;
  }
}
  .spansomething{
    color: #FF9700;
  }
}
.similar-vanue-style{
  margin-bottom: 5rem;
  background: linear-gradient(140.6deg, #002C6D 0%, #0082CF 100%);
  padding: 0 0px 35px;
  .similarVanueHighlight {
    background: #64e2ff !important;
    width: 16.4%;
    height: 21px;
    margin-top: 4rem;
    right: 27.5%;
    position: absolute;
  }
  .similer-vanues{ 
    position: relative;
    h2{
      margin-top: 2rem;
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      letter-spacing: 0.063em;
      color: #FFFFFF;
    }
    .span1{
      color: #FF9700;
    }
  }
}

.recent-blog{
  .recentBlogHighlight {
    background: #64e2ff !important;
    width: 27.4%;
    height: 21px;
    margin-top: 16.3rem;
    right: 72.5%;
    position: absolute;
  }
  .recent-blog-img{
    background-image: url('../../../assets/mic2.png');
    width: 521px;
    height: 656px;
    // background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: flex-end;
    h3{
      font-weight: 700;
      font-size: 24px;
      line-height: 29px;
      letter-spacing: -0.017em;
      color: #D5EAFF;
    }
    p{
      font-weight: 500;
      font-size: 14px;
      line-height: 160%;
      letter-spacing: -0.017em;

      color: #FFFFFF;
    }
   
  }
  .span-color{
    color:  #ff9700;
  }
  .span2{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.017em;
    color: #D5EAFF;
  }
  .arrow-forward{
    height: 24px;
  }
  .vr{
    height: 45.9rem;
    margin-top: 22px;
  }
.second-sec{
  margin-top: 6rem;
  h2{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.017em;
    color: #1F518B;
  }
  h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.063em; 
    color: #1F518B;
  }
}
}
.mobilescreenstyle{
  display: none;
}
.main-backgrond{
  background-color: #D5EAFF;
}
.bg-color{
  background-color: #D5EAFF;
}
.main-blog-post{

  z-index: -12;
  position: relative;
  .blog-top-img{
    .top-text{
      .arrow{
        display: none;
      }
    }
  }
    .blog-bgImg{
      background-image: url('../../../assets/blogpostshap.png');
      background-size: cover;
      background-repeat: no-repeat;
      height: 1297px;
      margin-top: -560px !important;
      z-index: -1;
      position: relative;
      h3{
        margin-top: 34rem;
        font-weight: 700;
        font-size: 32px;
        line-height: 48px;    
        letter-spacing: 0.063em;
        color: #D5EAFF;
      }
      p{
       
        font-weight: 600;
        font-size: 18px;
        line-height: 160.34%;
        letter-spacing: 0.063em;   
        color: #FFFFFF;
      }
     
    }
    p{
      margin-top: 0rem;
      font-size: 14px;
      line-height: auto;
   
 
    }
    .sec-2{
      h2{   
        margin-top: -23px;
        font-weight: 700;
        font-size: 20px;
        line-height: 29px;
      }
      .span1{
        color: #ff9700;
      }
    }
 
    .date-cards{
      margin-top: 1rem;
      p{
        color: #FFFFFF;
      }
      // span{
      //   color: #FFFFFF;
      // }
    }

}
@include media ('<=Lphone'){
  .slick-list {
    padding:0 20% 0 0 !important;
}
  .date-cards{
    .card{
      box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5) !important;
    }

  }
  .blog-card{

    h2{
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.063em;
      color: #161616;
      margin-top: 0px !important;
      justify-content: unset !important;
    }
    p{
  display: none;
    }
  
  }
  .blog-top-img {
    background-image: url("../../../assets/blogbgmobile.png");
    height: 586px;
    width: 100%;
    background-position: center;
    .top-text {
      text-align: center;
      overflow: hidden;
      .toghether{
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.017em;
      }
      .do-it {
        margin-top: 158px;
        margin-bottom: 3px;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        letter-spacing: -0.017em;
      }
      .date-host{
        display: none;
      }
      .btn-main{
        margin-left: -186px;
      }
    }

  }
  .main-backgrond{
    background-color: white;
  }
  .mobilescreenstyle{
    display: block;
   
    .recent-blog-img2{
      background-image: url('../../../assets/mic2.png');
      height: 411px;
      width: 94% !important;
      background-size: cover !important;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 8px;
      h3{
        margin-top: 3rem;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.017em;
        color: #D5EAFF;
      }
      p{
        margin-top: 13rem;
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: -0.017em;
        color: #FFFFFF;
      }
     
    }
  }
  .main-bloglist{
    display: none !important;
  }
  .circle-img{
    display: none;
  }
  .suggested-sec{
    margin-top: 0rem!important;
  
  
    .first-row{
      margin-top: 0rem;
      .highligt{
         display: none;
      }
      h2{
        position: unset;
        font-weight: 700;
        font-size: 20px;
        width: auto;
        height: auto;
        line-height: 24px;
        letter-spacing: 0.063em;
        text-align: center;
      }
    }
  
  
  // .button-style{
  //   margin-top: 2rem;
  //   .btn-main {
  //     width: 134px;
  //     height: 36px;
  //   }
  // }
    // .spansomething{
    //   color: #FF9700;
    // }
  }
  .recent-blog{
    display: none;
  }
  .similar-vanue-style{
    // box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);

    margin-bottom: 0rem;
    background: unset;
    padding: 0 0px 0px;
    .similarVanueHighlight {
      display: none;
    }
    .similer-vanues{ 
      .top-vanues-card-style {
        box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5) !important;
        .card-custom-Body {
         .card-title {
            font-weight: 600;
            font-size: 10px;
            line-height: 22px;
        }
          .blue-side {         
            font-size: 13px;
            line-height: 14px;
            background: #64e2ff;
            padding: 2rem 1rem;
          }
        }

      }
      h2{
        margin-top: 0rem;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.063em;
        color: #1F518B;
      }
    }
  }
   .bg-color{
    background-color: unset;

  }
  .main-blog-post{
    z-index: unset;
    position: unset;
    .blog-top-img{
      .top-text{
        .arrow{
          display: none;
        }
      }
    }
      .blog-bgImg{
        background-image: url('../../../assets/blogpostshap.png');
        background-size: cover;
        background-repeat: no-repeat;
        height: 900px;
        margin-top: -520px !important;
        z-index: -1;
        position: relative;
        h3{
          margin-top: 29rem;
          font-weight: 700;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.063em;
          
        }
        p{
         
          font-weight: 600;
          font-size: 12px;
          line-height: 172.84%;
          letter-spacing: -0.017em;
        }
       
      }
      // p{
      //   margin-top: 0rem;
      //   font-size: 14px;
      //   line-height: auto;
     
   
      // }
      .sec-2{
        h2{   
          text-align: center;
          margin-top: 2rem;
          font-weight: 700;
          font-size: 20px;
          line-height: 29px;
        }
        .span1{
          color: #ff9700;
        }
      }
   
      // .date-cards{
      //   margin-top: 1rem;
      //   p{
      //     color: #FFFFFF;
      //   }
      //   span{
      //     color: #FFFFFF;
      //   }
      // }
  
  }
}
@include media (">phone", "<=tablet") {
 
}