@import "../../../breakpoint.scss";

.top-sec-img {
  background-image: url("../../../assets/topvanue.png");
  height: 632px;
  width: 100%;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;

  .top-sec {
    text-align: center;
    height: 80px;

    img {
      max-width: 100%;
      height: 80px;
    }
  }

  .top-text {
    text-align: center;

    .place {
      font-size: 49px;
      line-height: 64px;
      font-weight: 600;
      letter-spacing: 0.063em;
      margin-top: 118px;
      margin-bottom: 30px;
      color: #ffffff;
      text-transform: uppercase;
    }

    .sub-text {
      color: #ffffff;
      font-weight: 600;
      font-size: 16.1036px;
      line-height: 19px;
      text-transform: uppercase;
    }
  }

}

.event_map {
  .mapouter {
    position: relative;
    text-align: right;
    width: auto;
    height: auto;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    width: 100%;
    height: auto;
  }

  .gmap_iframe {
    height: 300px !important;
  }
}

.main-vanue-detail {

  .slider-section {

    .vanue-img {
      width: 88% !important;
      margin: 20px auto;
      cursor: pointer;
    }

    .vanue-img:hover {
      transform: scale(1.09);
      box-shadow: 5px 5px 10px rgba(34, 33, 33, 0.3);
    }

    .card {
      box-shadow: 5px 5px 10px rgba(34, 33, 33, 0.3);
    }

    span {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      display: flex;
      align-items: center;
      letter-spacing: 0.063em;
      color: #515151;
    }

    .icon-style {
      fill: #ff9700;
      font-size: 23px;
      margin-left: 9px;
    }

    .review {
      margin-left: 9px;
    }
  }

  .detail-sec {
    .card {
      box-shadow: 0px 4px 24px -8px rgba(34, 33, 33, 0.3);
      // box-shadow: 0px 4px 24px -8px rgb(0 0 0 / 40%);

      span {
        font-size: 14px;
        line-height: 126.84%;
        letter-spacing: -0.017em;
        color: #515151;
        padding: 13px;
      }

      .icon-style {
        color: #1F518B;
        font-size: 23px;
      }
    }

    .eventDetailHighlight {
      background: #64e2ff !important;
      width: 17.7%;
      margin-top: 22px;
      height: 25px;
      right: 82.2%;
      position: absolute;
      z-index: -1;
    }

    h1 {
      font-weight: 700;
      font-size: 40px;
      line-height: 48px;
      display: flex;
      align-items: center;
      letter-spacing: 0.063em;
      color: #1F518B;
    }

    h2 {
      font-weight: 600;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.063em;
      color: #515151;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 126.84%;
      display: flex;
      align-items: center;
      letter-spacing: -0.017em;
      color: #515151;
    }
  }

  .raiting-card {
    width: 92% !important;

    .raitng-icon {
      fill: #ff9700;
    }

    .circle {
      padding: 17px 26px !important;
      border-radius: 50%;
      background-color: #D9D9D9;
    }
  }
}

.suggested-vanue {
  background: linear-gradient(140.6deg, #002C6D 0%, #0082CF 100%);
  padding: 20px;

  a {
    text-decoration: none !important;
    color: #161616;
  }

  .happen-wrapper {
    padding-top: 4rem;

    .happen-text {
      font-weight: 700;
      font-size: 46px;
      line-height: 60px;
      color: #ffffff;
      text-transform: uppercase;

      span {
        color: #ff9700;
      }

      .topVanueHighlight {
        background: #64e2ff !important;
        width: 42.7%;
        height: 25px;
        top: 15.5rem;
        right: 40.5%;
        position: absolute;
        z-index: -1;
      }

    }

    .dropdown-btn {
      border: 1px solid #ff9700 !important;
      border-radius: 14px;
      color: #ff9700;
      text-transform: uppercase;
      font-size: 14px;
      width: 190px;
      height: 36px;
    }
  }
}

.similer-vanues {
  margin-top: 5rem;

  h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.063em;
    color: #1F518B;
  }

  .vanueHighlight {
    background: #64e2ff !important;
    width: 42.7%;
    height: 25px;
    top: 15.5rem;
    right: 40.5%;
    position: absolute;
    z-index: -1;
  }
}

// @media (max-width:991px) {
//   .top-sec-img {
//     background-size: cover;

//     .top-text .place {
//       font-size: 28px;
//       line-height: 63px;
//       font-weight: 600;
//       letter-spacing: 0.063em;
//       margin-top: 118px;
//       margin-bottom: 30px;
//       color: #ffffff;
//       text-transform: uppercase;
//     }
//   }

//   .main-vanue-detail {
//     .detail-sec {
//       .span-2 {
//         margin-top: 22px;
//       }

//       .eventDetailHighlight {
//         display: none;
//       }
//     }
//   }

//   .similer-vanues {
//     .vanueHighlight {
//       display: none;
//     }

//     h2 {
//       font-weight: 600;
//       font-size: 31px;
//       line-height: 0px;
//     }
//   }
// }

// @media (max-width:475px) {

//   .main-vanue-detail {
//     .detail-sec {
//       .eventDetailHighlight {
//         display: none;
//       }

//       .span-2 {
//         margin-top: 22px;
//       }

//       h1 {
//         text-align: center;
//         justify-content: center;
//         font-size: 14px;
//         line-height: 17px;
//         display: flex;
//         align-items: center;
//         letter-spacing: 0.063em;
//       }

//       h2 {

//         font-size: 15px;
//       }
//     }
//   }

//   .top-sec-img {
//     .top-text {
//       .place {
//         font-size: 17px;
//         line-height: 40px;
//       }
//     }
//   }

//   .similer-vanues {
//     .vanueHighlight {
//       display: none;
//     }

//     h2 {
//       font-size: 17px;
//       line-height: 0px;

//     }
//   }
// }

// venue detail my code here....

.venue_detail_event {

  max-width: 1920px;
  margin: 0 auto;

  // section one
  .section_one_wrapper_light_blue {
    height: 632px;
    width: 100%;
    position: relative;
    background-image: url('../../../assets/divider/ShapeB.svg');
    // background-repeat: no-repeat;
    // background-size: 100% 100%;

    .section_one_wrapper_drak_blue {
      height: 603px;
      width: 100%;
      background-image: url('../../../assets/divider/ShapeA.svg');
      // background-repeat: no-repeat;
      // background-size: 100% 100%;

      .inner_section {
        height: inherit;
        width: 100%;
        position: relative;
        // background-size: 100% 100%;

        background-image: url('../../../assets/maskVenueDetail.svg');
        // background-repeat: no-repeat;
        // background-size: 100% 100%;

        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 auto;

        }

        .inner_content {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 75%;

          h1 {
            color: white;
            font-family: 'SF UI Display';
            font-style: normal;
            font-weight: 600;
            font-size: 54px;
            letter-spacing: 0.063em;
          }

          p {
            color: white;
            font-family: 'SF UI Display';
            font-style: normal;
            font-weight: 600;
            font-size: 16.1036px;
            letter-spacing: 0.063em;
            display: flex;
            align-items: center;
            gap: 0.5rem;
          }

        }
      }


    }

    .rating_card_container {
      position: absolute;
      bottom: 0;
      right: 145px;
      background: #FFFFFF;
      box-shadow: 0px 4px 24px -8px rgba(0, 0, 0, 0.4);
      border-radius: 4px;
      width: 286px;
      height: 108px;
      padding: 19.5px 24px;

      .star_rating {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        padding-bottom: 11.5px;

        .stars {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        span {
          letter-spacing: 0.063em;
          color: #515151;
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
        }


      }

      .inline-item {
        display: flex;
        gap: 0.5rem;
        line-height: 11.5px;

        p {
          letter-spacing: 0.063em;
          color: #515151;
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
        }
      }
    }





  }

  // section two
  .slider_section {
    padding-top: 2.2rem;

    .slick-slider {
      width: 90%;

      margin: 0px auto;

      .slick-prev:before,
      .slick-next:before {
        color: #1F518B;
      }
    }

    .slick-track {
      display: flex;
      gap: 1rem;
      padding-left: 5rem;
      margin-top: 2rem;
      margin-bottom: 2rem;

      .slick-current+* {
        img {

          transform: scale(1.4);
          box-shadow: 5px 5px 10px rgba(34, 33, 33, 0.3);
          margin-top: 1rem;
          margin-bottom: 2rem;

        }
      }

      .slick-slide>div {
        display: flex;
        justify-content: center;
        align-items: center;



      }

      .image_design img {
        width: 286px;
        height: 226px;
        border: 3px solid #1F518B;
        border-radius: 8px;


      }
    }

  }

  // section three
  .venue_details_container {
    padding-top: 3rem;
    position: relative;


    h2 {
      padding-left: 112px;

    }

    .line_bar {
      background: #64E2FF;
      width: 247px;
      height: 24px;
      position: absolute;
      top: 79px;
      z-index: -1;

    }

    .venue_detail_info_container {
      .venue_detail-info {
        padding: 61px 120px 0px 161px;

        p {
          padding-top: 24px;
          text-align: justify;
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 600;
          font-size: 20px;
          line-height: 140%;
          letter-spacing: 0.063em;
          color: #515151;
        }
      }

      .venue_detail-map {
        margin: 0px 120px 0px 0px;
        box-shadow: 0px 13px 24px -8px rgba(0, 0, 0, 0.4);
        border-radius: 8px;
        // width: 636px;
        height: 588px;

        .map {
          height: 334px;
        }

        .venue_detail_map_info {
          background: #FFFFFF;
          height: 254px;
          overflow: hidden;

          .line_row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 2.7rem;
            padding-right: 2.7rem;

            .aligment {
              display: flex;
              gap: 1rem;
              padding-top: 1.5rem;

              overflow: hidden;

              span {
                font-family: 'SF UI Display';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                letter-spacing: -0.017em;
              }
            }


          }
        }
      }
    }
  }

  // section four
  .carousel_container {
    padding-top: 3.2rem;

    .slick-slider {
      width: 90%;

      margin: 0px auto;

      .slick-prev:before,
      .slick-next:before {
        color: #1F518B;
      }
    }

    .slick-track {
      display: flex;
      gap: 1rem;
      // padding-left: 5rem;

      // .slick-current+* {
      //   img {
      //     width: 444px !important;
      //     height: 352px !important;
      //   }
      // }

      .slick-slide>div {
        display: flex;
        justify-content: center;
        align-items: center;



      }

      .feed_back_container {
        width: 338px !important;
        height: 234px;
        background: #FFFFFF;
        box-shadow: 0px 4px 24px -8px rgba(0, 0, 0, 0.4);
        border-radius: 4px;
        margin: 10px 0px 50px 0px;
        display: flex !important;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 8.85px;
        overflow: hidden;


        .avatar {
          width: 80px;
          height: 80px;
          border-radius: 50%;
          background: #D9D9D9;
        }

        .stars {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        }

        p {
          font-family: 'SF UI Display';
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: -0.017em;

          /* Grey/ Dark */

          color: #515151;


        }

        &:hover {
          transform: scale(1.05);
          box-shadow: 5px 5px 10px rgba(34, 33, 33, 0.3);
        }
      }
    }
  }

  // section five
  .suggest_event_container {
    background: linear-gradient(140.6deg, #002C6D 0%, #0082CF 100%);
  }

}

// *********** (Media) *************
// create event  mobile screen less then 375
@include media ('<=phone') {
  .venue_detail_event {

    // section one
    .section_one_wrapper_light_blue {
      .section_one_wrapper_drak_blue {
        .inner_section {
          .inner_content {
            h1 {

              font-weight: 700;
              font-size: 24px;

            }

            p {

              font-size: 12.1036px;

            }

          }
        }


      }

      .rating_card_container {

        bottom: 140px;
        right: 43px;


        .star_rating {


          .stars {}

          span {}


        }

        .inline-item {
          display: flex;
          gap: 0.5rem;
          line-height: 11.5px;

          p {
            letter-spacing: 0.063em;
            color: #515151;
            font-family: 'SF UI Display';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
          }
        }
      }





    }

    // section two
    .slider_section {
      .slick-track {


        .slick-current+* {
          img {

            transform: scale(0);
            box-shadow: none;
            margin-top: 0rem;
            margin-bottom: 0rem;

          }
        }



        .image_design img {
          width: 186px;
          height: 140px;



        }
      }

    }

    // section three
    .venue_details_container {
      padding-top: 0rem;

      h2 {
        display: none;

      }

      .line_bar {
        display: none;

      }

      .venue_detail_info_container {
        .venue_detail-info {
          padding: 0px 0px 0px 1rem;

          h4 {
            text-align: center;
          }

          p {
            padding-top: 4px;
            font-size: 12px;
          }
        }

        .venue_detail-map {
          margin: 0px 0px 0px 12px;
          width: 100%;

          .map {
            height: 334px;
          }

          .venue_detail_map_info {


            .line_row {


              .aligment {


                span {}
              }


            }
          }
        }
      }
    }

    // section four
    .carousel_container {
      padding-top: 2.2rem;

      .slick-slider {
        width: 90%;

        margin: 0px auto;

        .slick-prev:before,
        .slick-next:before {
          color: #1F518B;
        }
      }

      .slick-track {
        display: flex;
        gap: 1rem;


        .feed_back_container {

          margin: 10px 0px 10px 0px;


          .avatar {}

          .stars {}

          p {}

          &:hover {}
        }
      }
    }

    // section five
    .suggest_event_container {
      background: linear-gradient(140.6deg, #002C6D 0%, #0082CF 100%);
    }

    // similar_venue
    .similar_venue {
      h2 {
        font-size: 14px;
      }
    }

  }
}

// create event  mobile screen less then 375
@include media (">phone", "<=Lphone") {

  .venue_detail_event {

    // section one
    .section_one_wrapper_light_blue {
      .section_one_wrapper_drak_blue {
        .inner_section {
          .inner_content {
            h1 {

              font-weight: 700;
              font-size: 24px;

            }

            p {

              font-size: 12.1036px;

            }

          }
        }


      }

      .rating_card_container {

        bottom: 140px;
        right: 43px;


        .star_rating {


          .stars {}

          span {}


        }

        .inline-item {
          display: flex;
          gap: 0.5rem;
          line-height: 11.5px;

          p {
            letter-spacing: 0.063em;
            color: #515151;
            font-family: 'SF UI Display';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
          }
        }
      }





    }

    // section two
    .slider_section {
      .slick-track {


        .slick-current+* {
          img {

            transform: scale(0);
            box-shadow: none;
            margin-top: 0rem;
            margin-bottom: 0rem;

          }
        }



        .image_design img {
          width: 186px;
          height: 140px;



        }
      }

    }

    // section three
    .venue_details_container {
      padding-top: 0rem;

      h2 {
        display: none;

      }

      .line_bar {
        display: none;

      }

      .venue_detail_info_container {
        .venue_detail-info {
          padding: 0px 0px 0px 1rem;

          h4 {
            text-align: center;
          }

          p {
            padding-top: 4px;
            font-size: 12px;
          }
        }

        .venue_detail-map {
          margin: 0px 0px 0px 12px;
          width: 100%;

          .map {
            height: 334px;
          }

          .venue_detail_map_info {


            .line_row {


              .aligment {


                span {}
              }


            }
          }
        }
      }
    }

    // section four
    .carousel_container {
      padding-top: 2.2rem;

      .slick-slider {
        width: 90%;

        margin: 0px auto;

        .slick-prev:before,
        .slick-next:before {
          color: #1F518B;
        }
      }

      .slick-track {
        display: flex;
        gap: 1rem;


        .feed_back_container {

          margin: 10px 0px 10px 0px;


          .avatar {}

          .stars {}

          p {}

          &:hover {}
        }
      }
    }

    // section five
    .suggest_event_container {
      background: linear-gradient(140.6deg, #002C6D 0%, #0082CF 100%);
    }

    // similar_venue
    .similar_venue {
      h2 {
        font-size: 14px;
      }
    }

  }
}

// create event  mobile screen for table
@include media (">Lphone", "<=tablet") {



  .venue_detail_event {

    // section one
    .section_one_wrapper_light_blue {
      .section_one_wrapper_drak_blue {
        .inner_section {
          .inner_content {
            h1 {

              font-weight: 700;
              font-size: 24px;

            }

            p {

              font-size: 12.1036px;

            }

          }
        }


      }

      .rating_card_container {

        bottom: 140px;
        right: 43px;


        .star_rating {


          .stars {}

          span {}


        }

        .inline-item {
          display: flex;
          gap: 0.5rem;
          line-height: 11.5px;

          p {
            letter-spacing: 0.063em;
            color: #515151;
            font-family: 'SF UI Display';
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
          }
        }
      }





    }

    // section two
    .slider_section {
      .slick-track {


        .slick-current+* {
          img {

            transform: scale(0);
            box-shadow: none;
            margin-top: 0rem;
            margin-bottom: 0rem;

          }
        }



        .image_design img {
          width: 186px;
          height: 140px;



        }
      }

    }

    // section three
    .venue_details_container {
      padding-top: 0rem;

      h2 {
        display: none;

      }

      .line_bar {
        display: none;

      }

      .venue_detail_info_container {
        .venue_detail-info {
          padding: 0px 0px 0px 1rem;

          h4 {
            text-align: center;
          }

          p {
            padding-top: 4px;
            font-size: 12px;
          }
        }

        .venue_detail-map {
          margin: 0px 0px 0px 12px;
          width: 100%;

          .map {
            height: 334px;
          }

          .venue_detail_map_info {


            .line_row {


              .aligment {


                span {}
              }


            }
          }
        }
      }
    }

    // section four
    .carousel_container {
      padding-top: 2.2rem;

      .slick-slider {
        width: 90%;

        margin: 0px auto;

        .slick-prev:before,
        .slick-next:before {
          color: #1F518B;
        }
      }

      .slick-track {
        display: flex;
        gap: 1rem;


        .feed_back_container {

          margin: 10px 0px 10px 0px;


          .avatar {}

          .stars {}

          p {}

          &:hover {}
        }
      }
    }

    // section five
    .suggest_event_container {
      background: linear-gradient(140.6deg, #002C6D 0%, #0082CF 100%);
    }

    // similar_venue
    .similar_venue {
      h2 {
        font-size: 14px;
      }
    }

  }
}