.top-sec-img {
    background-image: url("../../../assets/topvanue.png");
    height: 632px;
    width: 100%;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    .top-sec {
      text-align: center;
      height: 80px;
      img {
        max-width: 100%;
        height: 80px;
      }
    }
    .top-text {
      text-align: center;
      .place {
        font-size: 49px;
        line-height: 64px;
        font-weight: 600;
        letter-spacing: 0.063em;
        margin-top: 118px;
        margin-bottom: 30px;
        color: #ffffff;
        text-transform: uppercase;
      }
      .sub-text{
        color: #ffffff;
        font-weight: 600;
        font-size: 16.1036px;
        line-height: 19px;
        text-transform: uppercase;
      }
    }

  }

 .main-vanue-detail{
    
   .slider-section{
    
    .vanue-img{
        width: 88% !important;
        margin: 20px auto;
        cursor: pointer;
    }
    .vanue-img:hover {
        transform: scale(1.09);
        box-shadow: 5px 5px 10px rgba(34, 33, 33, 0.3);
      }
   } 
   .detail-sec{
     .card{
      box-shadow: 5px 5px 10px rgba(34, 33, 33, 0.3);
      span{
        font-size: 14px;
        line-height: 126.84%;
        letter-spacing: -0.017em;
        color: #515151;
        padding: 13px;
      }
      .icon-style{
        color: #1F518B;
        font-size: 23px;
      }
     }
    .eventDetailHighlight {
      background: #64e2ff !important;
      width: 17.7%;
      margin-top: 22px;
      height: 25px;
      right: 82.2%;
      position: absolute;
      z-index: -1;
      }
    h1{
        font-weight: 700;
        font-size: 40px;
        line-height: 48px;
        display: flex;
        align-items: center;
        letter-spacing: 0.063em;
        color: #1F518B;
    }
    h2{
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.063em;
        color: #515151;
    }
    p{
        font-weight: 400;
        font-size: 14px;
        line-height: 126.84%;
        display: flex;
        align-items: center;
        letter-spacing: -0.017em;
        color: #515151;
    }
   }
 } 